/*// Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)*/
/*
.iframe-container {
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}

.iframe-container iframe {
   border: none;
   transform: scale(0.5625, 0.5625);
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
*/
.mat-card-image{
  max-width:100%;
  height:auto;
}
