<launch>
  <!--UPLOAD MUR-->
    <include file="$(find mur_description)/launch/upload_mur_real.launch"/>
  <!-- Open RViz for visualization of sensor data and visualization markers -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find mur_control)/rviz/mur_real.rviz"/>
</launch>
