<launch>
  <arg name="uuv_name"/>
  <arg name="model_name" default="$(arg uuv_name)"/>

  <group ns="$(arg uuv_name)">
        <rosparam file="$(find mur_control)/config/mur_altitude_control.yaml" command="load"/>
        <rosparam file="$(find mur_control)/config/mur_attitude_control.yaml" command="load"/>
        <rosparam file="$(find mur_control)/config/mur_position_control.yaml" command="load"/>
        <rosparam file="$(find mur_control)/config/mur_control_mixer.yaml" command="load"/>

        <!--node pkg="mur_control" type="mur_altitude_control.py" name="mur_altitude_control" output="screen"></node>
        <node pkg="mur_control" type="mur_attitude_control.py" name="mur_attitude_control" output="screen"></node>
        <node pkg="mur_control" type="mur_position_control.py" name="mur_position_control" output="screen"></node-->
        <node pkg="mur_control" type="mur_control_mixer.py" name="mur_control_mixer" output="screen"></node>
  </group>
</launch>
