<launch>
  <!--MAVROS-->
    <include file="$(find mur_control)/launch/start_mur_mavros.launch"/>

  <!--UPLOAD MUR-->
    <include file="$(find mur_description)/launch/upload_mur_real.launch"/>

  <!--CAMERAS-->
    <include file="$(find mur_control)/launch/start_mur_front_camera.launch"/>

  <!--SERVER-->
    <include file="$(find mur_control)/launch/start_mur_webserver.launch"/>

</launch>
