<launch>
  <!--MAVROS-->
    <include file="$(find mur_control)/launch/start_mur_mavros.launch"/>

  <!--MAVROS PARSE-->
    <node pkg="mur_control" type="mur_barometer_parse.py" name="mur_barometer_parse" output="screen"></node>
    <node pkg="mur_control" type="mur_control_mixer.py" name="mur_control_mixer" output="screen"></node>

  <!--SONAR-->
    <include file="$(find mur_control)/launch/start_mur_sonar.launch"/>

  <!--CAMERAS-->
    <include file="$(find mur_control)/launch/start_mur_front_camera.launch"/>

  <!--SERVER-->
    <include file="$(find mur_control)/launch/start_mur_webserver.launch"/>

</launch>
