<launch>
  <arg name="uuv_name"/>
  <arg name="model_name" default="$(arg uuv_name)"/>
  <arg name="saturation" default="30"/>

  <arg name="Kp" default="11,11,11,9.5,9.5,9.5"/>
  <arg name="Kd" default="5,5,5,3,3,3"/>
  <arg name="Ki" default="0,0,0,0,0,0"/>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="-15"/>
  <arg name="phi" default="0"/>
  <arg name="theta" default="0"/>
  <arg name="psi" default="0"/>

  <group ns="$(arg uuv_name)">
      <node pkg="mur_control"
            type="mur_control_mixer.py"
            name="mur_control_mixer"
            output="screen">
            <rosparam subst_value="true">
                saturation: $(arg saturation)
            </rosparam>
      </node>

      <node pkg="mur_control"
          type="mur_altitude_controller.py"
          name="mur_altitude_controller"
          output="screen">
          <rosparam subst_value="true">
              x: [$(arg x)]
              y: [$(arg y)]
              z: [$(arg z)]
              phi: [$(arg phi)]
              theta: [$(arg theta)]
              psi: [$(arg psi)]
              Kp: [$(arg Kp)]
              Kd: [$(arg Kd)]
              Ki: [$(arg Ki)]
          </rosparam>
      </node>
  </group>
</launch>
