<mat-toolbar>
  <span>UDrobot Ground Station</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <span>Logo</span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>dashboard</mat-icon> Dashboard
    </ng-template>
    <app-dashboard></app-dashboard>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>settings</mat-icon> Settings
    </ng-template>
    <app-settings></app-settings>
  </mat-tab>
</mat-tab-group>
