<!--MODE SELECTOR-->
<mat-card class="mode-card mat-elevation-z8">
  <mat-card-content>
    <section class="mode-section">
      <mat-slide-toggle class="arm-margin" color="primary" [checked]="armed_label" (change)="arm_handle($event)"><b>ARM</b></mat-slide-toggle>
      <label class="mode-margin" style="margin-right:1em; margin-left:1em"><b>MODE: </b></label>
      <mat-radio-group formControlName="mode-form" color="primary" (change)="mode_radioChange($event)">
        <mat-radio-button class="mode-margin" value="STABILIZED" style="margin-right:1em">
          Stabilized Control
        </mat-radio-button>
        <mat-radio-button class="mode-margin" value="ALTCTL" style="margin-right:1em">
          Altitude Control
        </mat-radio-button>
        <mat-radio-button class="mode-margin" value="POSCTL" style="margin-right:1em">
          Position Control
        </mat-radio-button>
      </mat-radio-group>
    </section>
</mat-card-content>
</mat-card>

<!--POSE SELECTOR-->
<mat-card class="status-card mat-elevation-z8">
  <mat-card-content ><mat-list>
    <mat-list-item>
    <label class="status-margin" ><b>STATUS:</b>&nbsp;</label><span id="status_label"></span>
    <mat-form-field style="margin-left:4em; margin-right:4em">
      <input matInput type="number" placeholder="Z landing" formControlName="z_landing" value="-1.4" #z_landing>
    </mat-form-field>
    <button mat-raised-button name="set-z-landing" color="primary" (click)="set_z_handle($event,z_landing)" (touchend)="set_z_handle($event,z_landing)">Set Z land</button>
    </mat-list-item>
    <mat-list-item>
    <mat-form-field style="margin-right:1em">
      <input matInput type="number" placeholder="X desired" formControlName="x_desired" value="0" #x_desired>
    </mat-form-field>
    <mat-form-field style="margin-right:1em">
      <input matInput type="number" placeholder="Y desired" formControlName="y_desired" value="0" #y_desired>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Z desired" formControlName="z_desired" value="-1" #z_desired>
    </mat-form-field>
    </mat-list-item>
    <mat-list-item>
    <mat-form-field style="margin-right:4em">
        <input matInput type="number" placeholder="Yaw desired" formControlName="yaw_desired" #yaw_desired value="0">
    </mat-form-field>
    <button mat-raised-button name="set-pose-button" color="primary"  (click)="set_pose_handle($event,x_desired,y_desired,z_desired,yaw_desired)"
    (touchend)="set_pose_handle($event,x_desired,y_desired,z_desired,yaw_desired)" [disabled]="!armed_enabled">Set Pose</button>
    <button mat-raised-button name="land-button" color="primary" style="margin-left:2em" (click)="land_handle($event,x_desired,y_desired,z_desired,yaw_desired)"
    (touchend)="land_handle($event,x_desired,y_desired,z_desired,yaw_desired)" [disabled]="!armed_enabled">LAND</button>
    <button mat-raised-button name="takeoff-button" color="primary" style="margin-left:2em" (click)="takeoff_handle($event)"
    (touchend)="takeoff_handle($event)" [disabled]="!armed_enabled">TAKE OFF</button>
    </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<!--INPUT SELECTOR-->
<mat-card class="input-control-card mat-elevation-z8">
<mat-card-content>
    <section class="input-control-section">
      <label class="armed-margin" style="margin-right:2em" ><b><span id="leak_label"></span></b></label>
      <ng-template [ngIf]="armed_enabled" [ngIfElse]="armed_disabled">
          <label class="armed-margin" style="margin-right:2em; color:red" ><b>ARMED</b></label>
      </ng-template>
      <ng-template #armed_disabled>
          <label class="armed-margin" style="margin-right:2em; color:green" ><b>DISARMED</b></label>
      </ng-template>

      <mat-radio-group formControlName="input-control-form" color="primary" (change)="input_control_radioChange($event)" disabled={{input_method_disabled}}>
        <label class="mode-margin" style="margin-right:1em"><b>INPUT: </b></label>
        <mat-radio-button class="input-control-margin" value="KEYBOARD" style="margin-right:1em" >
          Keyboard
        </mat-radio-button>
        <mat-radio-button class="input-control-margin" value="JOYSTICK" style="margin-right:1em" >
          Joystick
        </mat-radio-button>
        <mat-radio-button class="input-control-margin" value="HAPTIC" style="margin-right:1em" >
          Haptic
        </mat-radio-button>
      </mat-radio-group>
    </section>
</mat-card-content>
  </mat-card>
