<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Import macro files -->
    <xacro:include filename="$(find uuv_descriptions)/models/common/urdf/common.urdf.xacro" />
    <xacro:include filename="$(find uuv_sensor_ros_plugins)/urdf/sensor_snippets.xacro"/>
    <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/snippets.xacro"/>
    <!--xacro:include filename="$(find mur_description)/urdf/mur_snippets.xacro"/-->
    <!-- Properties -->
    <xacro:property name="mass" value="8.37"/>
    <xacro:property name="volume" value="0.004837965"/>
    <xacro:property name="cob" value="0 0 0"/>
    <xacro:property name="rho" value="1027.0"/>

    <xacro:property name="visual_mesh_file" value="file://$(find mur_description)/mesh/mur.dae"/>
    <xacro:property name="collision_mesh_file" value="file://$(find mur_description)/mesh/mur.stl"/>
    <xacro:property name="prop_mesh_file" value="file://$(find mur_description)/mesh/mur_prop.dae"/>

    <xacro:macro name="mur_base" params="namespace debug">
        <link name="${namespace}/base_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${visual_mesh_file}" scale="1 1 1" />
                </geometry>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                    <geometry>
                        <mesh filename="${collision_mesh_file}" scale="1 1 1" />
                    </geometry>
            </collision>

            <inertial>
              <mass value="${mass}" />
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <inertia ixx="0.38467478" ixy="0" ixz="0"
                       iyy="0.16784643" iyz="0"
                       izz="0.46539770" />
            </inertial>
        </link>

  <!-- Set up hydrodynamic plugin-->
      <gazebo>
        <plugin name="${namespace}_uuv_plugin" filename="libunderwater_object_ros_plugin.so">
          <fluid_density>${rho}</fluid_density>
          <flow_velocity_topic>hydrodynamics/current_velocity</flow_velocity_topic>
          <debug>${debug}</debug>
          <link name="${namespace}/base_link">
            <volume>${volume}</volume>
            <center_of_buoyancy>${cob}</center_of_buoyancy>
            <neutrally_buoyant>0</neutrally_buoyant>
            <hydrodynamic_model>
              <type>fossen</type>
              <added_mass>
                8.37    0       0       0       0       0
                0       8.37    0       0       0       0
                0       0       8.37    0       0       0
                0       0       0       0.384   0       0
                0       0       0       0       0.465   0
                0       0       0       0       0       0.167
              </added_mass>
              <!--<linear_damping_forward_speed>
                -8      0       0       0       0       0
                0       -162    0       0       0       150
                0       0       -108    0       -100    0
                0       0       0       -13     0       0
                0       0       37      0       -20     0
                0       -34     0       0       0       -32
              </linear_damping_forward_speed>-->
              <linear_damping>
                -1.1033 -2.2187 -0.03113 -0.00053 -0.000333 -0.00057
              </linear_damping>

              <quadratic_damping>
                -26.5547 -17.1505 -37.8527 -0.002130 -0.002252 -0.003114
              </quadratic_damping>
            </hydrodynamic_model>
          </link>
        </plugin>
      </gazebo>

      <xacro:include filename="$(find mur_description)/urdf/mur_sensors.xacro"/>
      <xacro:include filename="$(find mur_description)/urdf/mur_actuators.xacro"/>
    </xacro:macro>
</robot>

