<table class="mat-elevation-z8" >
  <col width="5%" />
  <col width="10%" />
  <col width="5%" />
  <col width="10%" />
<tr>
  <td><p><b>X:= </b></p></td>
  <td><span id="X"></span></td>
  <td><p><b>vX:= </b></p></td>
  <td><span id="vX"></span></td>
</tr>
<tr>
  <td><p><b>Y:= </b></p></td>
  <td><span id="Y"></span></td>
  <td><p><b>vY:= </b></p></td>
  <td><span id="vY"></span></td>
</tr>
<tr>
  <td><p><b>Z:= </b></p></td>
  <td><span id="Z"></span></td>
  <td><p><b>vZ:= </b></p></td>
  <td><span id="vZ"></span></td>
</tr>
<tr>
  <td><p><b>roll:= </b></p></td>
  <td><span id="roll"></span></td>
  <td><p><b>aX:= </b></p></td>
  <td><span id="aX"></span></td>
</tr>
<tr>
  <td><p><b>pitch:= </b></p></td>
  <td><span id="pitch"></span></td>
  <td><p><b>aY:= </b></p></td>
  <td><span id="aY"></span></td>
</tr>
<tr>
  <td><p><b>yaw:= </b></p></td>
  <td><span id="yaw"></span></td>
  <td><p><b>aZ:= </b></p></td>
  <td><span id="aZ"></span></td>
</tr>
</table>
