<label class="onConnected-margin"><b>Status:</b> {{onConnectedLabel}} <b>IP:</b> {{setting[0].address}} <b>port:</b> {{setting[0].port}}</label>
<mat-progress-bar
    class="onConnected-margin"
    [mode]="onConnectedText"
    [value]="100">
</mat-progress-bar>
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
          <div *ngIf="'Pose'==card.title">
            <mat-card-content class="dashboard-card-content">
              <app-pose></app-pose>
            </mat-card-content>
          </div>
          <div *ngIf="'Cameras'==card.title">
            <mat-card-content class="dashboard-card-content">
              <app-cameras></app-cameras>
            </mat-card-content>
          </div>
          <div *ngIf="'Navigation'==card.title">
            <mat-card-content class="dashboard-card-content">
              {{card.title}}
            </mat-card-content>
          </div>
          <div *ngIf="'Controls'==card.title">
            <mat-card-content class="dashboard-card-content">
              <app-controls></app-controls>
            </mat-card-content>
          </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
